{% extends "base.html" %}
{% block title %}О проекте{% endblock title %}
{% block content %}
    <main class="aboutpage ">
        <div class="background-blobs">
            <svg class="bg-svg" id="blobShape3" viewBox="0 0 500 500">
                <clipPath></clipPath>
                <path
                        fill="url(#g3)"
                        d="M 402.7,215.5 C 433.9,280.4 488.1,367.2 447.7,426.8 410.1,482.2 316.7,460.2 249.7,460.6 182.8,461.1 88.08,485.5 51.26,429.5 10.29,367.3 73.19,279.4 106.9,213 141.8,144 176.6,33.65 253.9,33.7 332.2,33.75 368.8,144.9 402.7,215.5 Z"
                />
                <linearGradient id="g3" x1="0%" y1="0%" x2="100%" y2="100%">
                    <stop offset="0" stop-color="#94d6ba" />
                    <stop offset="1" stop-color="#b5a9c4" />
                </linearGradient>
            </svg>
            <section class="container">
                <div class="aboutpage__first-block">
                    <h4 class="font-title">
                        О проекте
                    </h4>
                    <div class="aboutpage__first-block__content">
                        <div class="aboutpage__first-block__left-div col-md-4">
                            <div class="aboutpage__first-block__img"></div>
                        </div>

                        <div
                                class="aboutpage__first-block__right-div col-lg-8 col-md-12 col-sm-12"
                        >
                            <div class="aboutpage__first-block__title"></div>
                            <div class="aboutpage__first-block__text">
                                <h4 class="font-text-md ">
                                    Mentor.kg - это платформа, где наставники и ученики могут
                                    найти друг друга и соединиться. Чтобы получить что-то в
                                    жизни, бизнесе, учебе, отношениях или чем-то еще, важно
                                    получить руководство от наставника. Но найти правильного
                                    наставника сложно. Mentor.kg предоставляет простой способ
                                    связаться с наставниками и учениками в любой категории.
                                </h4>
                                <p class="font-text-md ">
                                    Объединяя поколения, меняем мир. Мы собираем на одной
                                    площадке опытных экспертов и тех, кто только начинает
                                    осваивать новые области знаний в науке и бизнесе. Наши
                                    менторы делятся своей экспертизой и опытом бесплатно. Многие
                                    из наших менти – люди, которые в будущем будут формировать
                                    ключевые тренды в науке и бизнесе, как в Кыргызстане, так и
                                    за рубежом.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="aboutpage__quote-block">
                <section class="container">
                    <h4 class="font-text-md">
                        «Знание существует, чтобы его распространять»
                    </h4>
                    <p class="font-text-md">- Эмерсон Ральф Уолдо</p>
                </section>
            </div>
            <section class="container">
                <div class="aboutpage__mission-block">
                    <h4 class="font-title">
                        Наша миссия
                    </h4>
                    <div class="aboutpage__mission-block__cards-div">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="aboutpage__mission-block__card card">
                                <div class="aboutpage__mission-block__card__img-bg">
                                    <div class="aboutpage__mission-block__card__img-bg-text">
                                        <img
                                                src="/static/icons/aim.png"
                                                style="opacity: .8"
                                                width="50px"
                                                height="50px"
                                                alt=""
                                        />
                                        <h4 class="font-title-sm">В чем наша цель</h4>
                                    </div>
                                </div>
                                <div class="aboutpage__mission-block__card__text">
                                    <p class="font-text-md">
                                        Наша цель – обеспечить передачу знаний и опыта
                                        предпринимателям и специалистам и помочь им найти
                                        эффективные решения актуальных бизнес-задач, улучшить
                                        показатели компании
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="aboutpage__mission-block__card card">
                                <div class="aboutpage__mission-block__card__img-bg">
                                    <div class="aboutpage__mission-block__card__img-bg-text">
                                        <img
                                                src="/static/icons/people.png"
                                                style="opacity: .8"
                                                width="50px"
                                                height="50px"
                                                alt=""
                                        />
                                        <h4 class="font-title-sm">Как мы к ней идем</h4>
                                    </div>
                                </div>
                                <div class="aboutpage__mission-block__card__text">
                                    <p class="font-text-md">
                                        Мы собрали на нашей онлайн-платформе лучших
                                        профессионалов, готовых делиться знаниями, быть
                                        наставниками и работать на повышение личной продуктивности
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="aboutpage__mission-block__card card">
                                <div class="aboutpage__mission-block__card__img-bg">
                                    <div class="aboutpage__mission-block__card__img-bg-text">
                                        <img
                                                src="/static/icons/hands.png"
                                                style="opacity: .8"
                                                width="50px"
                                                height="50px"
                                                alt=""
                                        />
                                        <h4 class="font-title-sm">Во что мы верим</h4>
                                    </div>
                                </div>
                                <div class="aboutpage__mission-block__card__text">
                                    <p class="font-text-md">
                                        Мы верим, что наставничество и советы опытных
                                        профессионалов помогут найти ответы на самые сложные
                                        вопросы, которые периодически возникают у любого человека.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container"></section>
        </div>
    </main>
{% endblock content%}
