{% extends "base.html" %}
{% block title %}Пользовательское соглашение{% endblock title %}
{% block content %}
<main>
  <section>
    <div class="container">
      <div class="col-lg-9 col-md-12 col-sm-12">
        <h2 class="font-title">
          Пользовательское соглашение
        </h2>
        <div class="agreement">
          <p class="font-text">Пользовательское соглашение Mentor.kg</p>
          <p class="font-text">
            Настоящее Пользовательское соглашение (далее по тексту –
            «Соглашение») заключается между:
            <br />
            Обществом с ограниченной ответственностью «Эксперум» (далее по
            тексту – «Администрация»)
            <br />
            Посетителем сети Интернет (любым физическим лицом, индивидуальным
            предпринимателем, юридическим лицом, далее по тексту – «Посетитель»)
            <br />
            Программой для ЭВМ интернет сайт «Experum.ru» (далее по тексту –
            «Сайт»).
            <br />
            Сайт доступен в сети Интернет по адресу
            <a href="./index.html" class="font-link">https://mentor.kg</a> и
            представляет собой совокупность программ для ЭВМ, баз данных,
            обеспечивающих функционирование Сайта, а также совокупность услуг,
            предоставляемых Посетителям при использовании Сайта, в том числе в
            режиме онлайн. Перед началом использования Сайта и входящего в него
            программного обеспечения внимательно ознакомьтесь с условиями
            настоящего Соглашения. С момента как Посетитель начинает
            использовать Сайт/его отдельные функции, либо прошел процедуру
            регистрации, Соглашение вступает в силу, а Посетитель считается
            принявшим условия Соглашения, а также условия всех указанных ниже
            документов, в полном объеме, без всяких оговорок и исключений. Если
            вы не согласны с условиями настоящего Соглашения, вы не можете
            использовать Сайт.
          </p>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </section>
</main>
{% endblock content%}
