{% extends "base.html" %}
{%  block title %}Часто задаваемые вопросы{% endblock title %}
{% block content %}
<main>
  <section>
    <div class="container">
      <div class="col-lg-9 col-md-12 col-sm-12">
        <h2 class="font-title">
          Часто задаваемые вопросы
        </h2>
        <div class="faq">
          <div class="faq__question-block">
            <h4 class="font-title-sm faq__question-block__question">
              Для чего нужен ментор?
            </h4>
            <p class="font-text faq__question-block__answer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
              modi itaque voluptatibus odio animi veritatis mollitia velit?
              Repellat dolor quo repudiandae nesciunt id similique, obcaecati,
              ullam iusto velit illo odit?Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Quibusdam rerum laudantium dolorum voluptatem
              magnam vel delectus enim ratione quaerat, sint quam illum,
              incidunt eum. Laudantium quia rerum, quod non facilis doloribus
              porro eveniet neque iure, cum nemo. Eligendi alias quam ab
              recusandae suscipit fuga velit repudiandae, sunt, architecto
              explicabo distinctio!
            </p>
          </div>
          <div class="faq__question-block">
            <h4 class="font-title-sm faq__question-block__question">
              Для чего нужен ментор?
            </h4>
            <p class="font-text faq__question-block__answer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
              modi itaque voluptatibus odio animi veritatis mollitia velit?
              Repellat dolor quo repudiandae nesciunt id similique, obcaecati,
              ullam iusto velit illo odit?Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Quibusdam rerum laudantium dolorum voluptatem
              magnam vel delectus enim ratione quaerat, sint quam illum,
              incidunt eum. Laudantium quia rerum, quod non facilis doloribus
              porro eveniet neque iure, cum nemo. Eligendi alias quam ab
              recusandae suscipit fuga velit repudiandae, sunt, architecto
              explicabo distinctio!
            </p>
          </div>
          <div class="faq__question-block">
            <h4 class="font-title-sm faq__question-block__question">
              Для чего нужен ментор?
            </h4>
            <p class="font-text faq__question-block__answer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
              modi itaque voluptatibus odio animi veritatis mollitia velit?
              Repellat dolor quo repudiandae nesciunt id similique, obcaecati,
              ullam iusto velit illo odit?Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Quibusdam rerum laudantium dolorum voluptatem
              magnam vel delectus enim ratione quaerat, sint quam illum,
              incidunt eum. Laudantium quia rerum, quod non facilis doloribus
              porro eveniet neque iure, cum nemo. Eligendi alias quam ab
              recusandae suscipit fuga velit repudiandae, sunt, architecto
              explicabo distinctio!
            </p>
          </div>
          <div class="faq__question-block">
            <h4 class="font-title-sm faq__question-block__question">
              Для чего нужен ментор?
            </h4>
            <p class="font-text faq__question-block__answer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
              modi itaque voluptatibus odio animi veritatis mollitia velit?
              Repellat dolor quo repudiandae nesciunt id similique, obcaecati,
              ullam iusto velit illo odit?Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Quibusdam rerum laudantium dolorum voluptatem
              magnam vel delectus enim ratione quaerat, sint quam illum,
              incidunt eum. Laudantium quia rerum, quod non facilis doloribus
              porro eveniet neque iure, cum nemo. Eligendi alias quam ab
              recusandae suscipit fuga velit repudiandae, sunt, architecto
              explicabo distinctio!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content%}
