{% extends "base.html" %} {% block title %} Наши менторы{% endblock title %} 
{% block content %}

<!-- <div class='row'>
        <div class='col-sm-3'>
          <h1>Users</h1>
           <hr/>
          {% for user in users %}
            <a href='/{{ user.username}}/'>{{ user.username}}</a><br/>

          {% empty %}
          <p>No users found</p>
          {% endfor %}
        </div>
    </div> -->

<main>
  <div class="background-blobs">
    <svg class="bg-svg" id="blobShape1" viewBox="0 0 500 500">
      <clipPath></clipPath>
      <path
        fill="url(#g1)"
        d="M 451.5,185.8 C 441.5,266.2 339.6,305 272.3,350.2 207.7,393.6 226.7,444.7 182.6,447.9 132.8,451.4 83.97,399.9 66.37,353.1 34.6,268.4 41.16,141.8 112,85.44 186.1,26.33 313.8,54.1 396,101.4 425.2,118.2 455.6,152.4 451.5,185.8 Z"
      />
      <linearGradient id="g1" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0" stop-color="#8459b5" />
        <stop offset="1" stop-color="#94d6ba" />
      </linearGradient>
    </svg>
    <section>
      <div class="container">
        <h2 class="font-title">Менторы</h2>
        <p class="font-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vel,
          mollitia dolores illo.
        </p>
        <div class="mentors-wrapper">
          <form method="GET" id="blog__search-form" action="{% url 'profiles:user_list' %}">
            <div class="searchbox col-lg-8 col-md-8 col-sm-12">
              <input
                type="text"
                class="searchbox__input font-text"
                placeholder="Поиск"
                name="q"
                value="{{ request.GET.q }}"
              />
              <input type="submit" class="searchbox__icon" value="" />
            </div>
          </form>
          <div class="mentors__mentor-cards col-12">
            {% for user in object_list %}
              <div
                class="mentors__mentor-cards__mentor-card col-lg-4 col-md-6 col-sm-12"
              >
                <a href="#">
                  <div class="mentors__mentor-cards__mentor-card__img">
                    <img src="{{ user.profile.image.url }}" alt="" />
                  </div>
                </a>
                <h4
                  class="font-title-sm mentors__mentor-cards__mentor-card__name"
                >
                  <a href="{% url 'profiles:account_detail' user.username %}">{{ user.first_name}} {{ user.last_name}}</a>
                </h4>
                <h4
                  class="font-subtitle mentors__mentor-cards__mentor-card__position"
                >
                  {{ user.position }}
                </h4>
                <div class="font-text mentors__mentor-cards__mentor-card__bio">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aspernatur molestiae voluptates accusamus minus autem adipisci
                  ducimus voluptate maiores ad recusandae.
                </div>
                <button class="btn btn-white">
                  <a href="{% url 'profiles:account_detail' user.username %}">Подробнее</a>
                </button>
              </div>
              {% empty %}
              {% if request.GET.q %}
              <p class="mt-5 mb-5 font-text col-6 offset-3" style="text-align:center">Извините, но такого ментора мы не нашли:(</p>
              {% else %}
              <p class="mt-5 mb-5 font-text col-6 offset-3" style="text-align:center">Менторов пока нет</p>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}


