{% extends "base.html" %} 
{% block title %} Публикация {% endblock title %} 
{% block content %}
<main class="main">
  <div class="background-blobs">
    <svg class="bg-svg" id="blobShape4" viewBox="0 0 500 500">
      <clipPath></clipPath>
      <path
        fill="url(#g4)"
        d="M 274.4,32.13 C 328.5,36.28 249,139.7 287.7,192.8 326.3,245.9 483.3,248.4 459,295 434.9,341.2 341.4,267.6 298,297.5 247.4,332.3 296,461.4 233.9,467.8 177.2,473.8 214.2,326.3 176,268.3 137.8,210.5 24.39,242.4 39.89,189.3 54.21,140.1 142,158.9 184.6,129.2 221.1,103.9 229.3,28.68 274.4,32.13 Z"
      />
      <linearGradient id="g4" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0" stop-color="#fa7166" />
        <stop offset="1" stop-color="#fd964b" />
      </linearGradient>
    </svg>
    <section>
      <div class="container publication">
        <div class="col-sm-12 col-lg-8 col-md-8">
          <div class="publication-card">
            <h4 class="font-title">
              {{ object.title }}
            </h4>
            <p class="font-text-sm">{{ object.timestamp | timesince }}</p>
            <div class="publication-card__img">
              <img src="{{ object.blogimage_set.first.image.url }}" alt="" />
            </div>
            <p class="font-text">
              {{ object.content }}
            </p>
            {% if object.user == request.user %}
            <div class="publication-card__footer">
              <a href="{% url 'blog:edit' object.id %}">
                <div
                  class="publication-card__footer__icon"
                  id="icon-edit"
                ></div>
              </a>
              <a href="{% url 'blog:delete' object.id %}">
                <div
                  class="publication-card__footer__icon"
                  id="icon-delete"
                ></div>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="publication-author-card col-sm-12 col-lg-4 col-md-4">
          <div class="publication-author-card__card-header">
            <h4 class="font-title-sm">Автор публикации</h4>
          </div>
          <div class="publication-author-card__card-body">
            <div class="publication-author-card__card-body__author">
              <div class="publication-author-card__card-body__author__avatar">
                  <img src="{{ object.user.profile.image.url }}">
              </div>
              <div class="publication-author-card__card-body__author__name">
                <h5 class="font-text">
                  <a href="{% url 'profiles:account_detail' object.user.username %}"
                    >{{ object.user.first_name }} {{ object.user.last_name }}</a
                  >
                </h5>
                <p class="font-text-sm">{{ object.user.position }}</p>
              </div>
            </div>
            <p
              class="publication-author-card__card-body__card-body__content font-text"
            >
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. At odio
              praesentium harum ducimus quis porro. Soluta quia odio tempore
              nisi reiciendis facilis expedita, consectetur nam voluptas ab
              reprehenderit ad recusandae!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}
